.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
}
.home-hero {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  align-items: baseline;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-pimary-royalpurple);
}
.home-image {
  top: auto;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: -1px;
  position: absolute;
  object-fit: cover;
}
.home-container01 {
  top: auto;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-pimary-royalpurple);
}
.home-image1 {
  left: auto;
  right: 0px;
  width: 100%;
  bottom: 0px;
  display: none;
  position: absolute;
  object-fit: cover;
}
.home-container02 {
  width: 100%;
  display: flex;
  min-height: 50vh;
  align-items: center;
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.home-container03 {
  flex: 0 0 auto;
  width: 45%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  margin-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-text {
  align-self: flex-start;
  font-family: Comfortaa;
}
.home-text01 {
  color: var(--dl-color-gray-white);
}
.home-text03 {
  color: var(--dl-color-gray-white);
}
.home-text04 {
  color: var(--dl-color-gray-white);
  align-self: flex-start;
  font-family: Roboto;
}
.home-button {
  align-self: flex-start;
  margin-top: var(--dl-space-space-triplequarter);
  text-align: left;
  font-family: Roboto;
  background-color: var(--dl-color-pimary-mustard);
}
.home-text05 {
  color: var(--dl-color-gray-black);
  font-style: normal;
  text-align: left;
  font-weight: 500;
}
.home-container04 {
  flex: 0 0 auto;
  width: 45%;
  height: 100px;
  display: flex;
  position: relative;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
}
.home-image2 {
  width: 100%;
  object-fit: scale-down;
}
.home-section1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: var(--dl-color-pimary-900);
}
.home-container05 {
  width: 100%;
  display: flex;
  max-width: 1320px;
  align-items: center;
  flex-direction: column;
}
.home-container06 {
  width: 80%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-text06 {
  color: var(--dl-color-gray-black);
  font-size: 1.875rem;
  text-align: center;
  font-family: Comfortaa;
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
}
.home-text07 {
  color: var(--dl-color-secondary-700);
  font-size: 1.25rem;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  margin-bottom: 0.25rem;
  text-transform: none;
  text-decoration: none;
}
.home-text08 {
  color: var(--dl-color-gray-black);
  display: inline;
  font-weight: 400;
  white-space: normal;
  background-color: rgb(241, 245, 249);
}
.home-cards-container {
  display: flex;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: flex-start;
  padding-top: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.home-container07 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text09 {
  color: var(--dl-color-gray-black);
  align-self: center;
  text-align: center;
  font-family: Comfortaa;
}
.home-text10 {
  color: var(--dl-color-gray-black);
  align-self: center;
  text-align: center;
  font-family: Roboto;
  margin-bottom: var(--dl-space-space-unitandhalf);
}
.home-container08 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-card1 {
  flex: 0 0 auto;
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius50);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.home-container09 {
  flex: 0 0 auto;
  width: 3rem;
  height: 3rem;
  display: flex;
  position: relative;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
}
.home-image3 {
  object-fit: contain;
}
.home-text11 {
  color: var(--dl-color-secondary-100);
  font-size: 1.25rem;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Comfortaa;
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
}
.home-text12 {
  color: var(--dl-color-gray-black);
  font-size: 1rem;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.625rem;
}
.home-card2 {
  flex: 0 0 auto;
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius50);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.home-container10 {
  flex: 0 0 auto;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
}
.home-image4 {
  object-fit: cover;
}
.home-text13 {
  color: var(--dl-color-gray-black);
  font-size: 1.25rem;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Comfortaa;
  text-transform: none;
  text-decoration: none;
}
.home-text14 {
  color: var(--dl-color-secondary-700);
  font-size: 1rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-family: Roboto;
  line-height: 1.625rem;
}
.home-text15 {
  color: var(--dl-color-gray-black);
  font-style: normal;
  font-family: Roboto;
  font-weight: 500;
}
.home-text16 {
  font-family: Roboto;
}
.home-card3 {
  flex: 0 0 auto;
  width: 30%;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius50);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.home-container11 {
  flex: 0 0 auto;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
}
.home-image5 {
  width: 3rem;
  object-fit: contain;
}
.home-text17 {
  color: var(--dl-color-gray-black);
  font-size: 1.25rem;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Comfortaa;
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
}
.home-text18 {
  color: var(--dl-color-gray-black);
  font-size: 1rem;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.625rem;
}
.home-section3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: #a5402d;
}
.home-container12 {
  width: 100%;
  display: flex;
  max-width: 1320px;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-contact {
  display: flex;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.home-text19 {
  color: var(--dl-color-gray-white);
  align-self: center;
  text-align: center;
  font-family: Comfortaa;
}
.home-text20 {
  color: var(--dl-color-gray-white);
  width: 80%;
  font-size: 1.25rem;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
}
.home-form {
  flex: 0 0 auto;
  width: 80%;
  display: flex;
  padding: var(--dl-space-space-twoandhalf);
  max-width: 700px;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius50);
  flex-direction: column;
  background-color: var(--dl-color-pimary-800);
}
.home-text21 {
  color: var(--dl-color-secondary-400);
  font-size: 1.5rem;
  font-family: Comfortaa;
  font-weight: 600;
  line-height: 2rem;
}
.home-text22 {
  color: rgba(100,116,139,1);
  font-size: 1.25rem;
  font-family: Roboto;
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
}
.home-text23 {
  color: rgba(100,116,139,1);
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 0.25rem;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-textinput {
  color: rgba(148, 163, 184, 1);
  width: 100%;
  outline: 0;
  padding: var(--dl-space-space-triplequarter);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);;
  transition: 0.3s;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius4);
}
.home-textinput:focus {
  color: var(--dl-color-secondary-500);
  box-shadow: 0 0 0 2px#4AA4E3;
}
.home-text24 {
  color: rgba(100,116,139,1);
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 0.25rem;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-textinput1 {
  color: rgba(148, 163, 184, 1);
  width: 100%;
  outline: 0;
  padding: var(--dl-space-space-triplequarter);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);;
  transition: 0.3s;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius4);
}
.home-textinput1:focus {
  color: var(--dl-color-secondary-500);
  box-shadow: 0 0 0 2px#4AA4E3;
}
.home-text25 {
  color: rgba(100,116,139,1);
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-textinput2 {
  color: rgba(148, 163, 184, 1);
  width: 100%;
  outline: 0;
  padding: var(--dl-space-space-triplequarter);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);;
  transition: 0.3s;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius4);
}
.home-textinput2:focus {
  color: var(--dl-color-secondary-500);
  box-shadow: 0 0 0 2px#4AA4E3;
}
.home-text26 {
  color: rgba(100,116,139,1);
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 0.25rem;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-textarea {
  color: rgba(148, 163, 184, 1);
  width: 100%;
  outline: 0;
  padding: var(--dl-space-space-triplequarter);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);;
  transition: 0.3s;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius4);
}
.home-textarea:focus {
  color: var(--dl-color-secondary-500);
  box-shadow: 0 0 0 2px #4AA4E3;
}
.home-container13 {
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}
.home-image6 {
  top: auto;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: -1px;
  position: absolute;
  object-fit: cover;
}
@media(max-width: 991px) {
  .home-cards-container {
    align-items: center;
    flex-direction: column;
  }
  .home-card1 {
    width: 90%;
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .home-card2 {
    width: 90%;
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .home-card3 {
    width: 90%;
  }
  .home-section3 {
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .home-container12 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .home-image {
    visibility: hidden;
  }
  .home-container02 {
    flex-direction: column;
  }
  .home-container03 {
    width: 100%;
  }
  .home-text {
    font-size: 1.5rem;
  }
  .home-container04 {
    width: 100%;
    visibility: hidden;
  }
  .home-section1 {
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .home-container06 {
    width: 100%;
  }
  .home-container08 {
    align-items: center;
    flex-direction: column;
  }
  .home-text20 {
    width: 100%;
  }
  .home-form {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .home-card1 {
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-text12 {
    text-align: left;
  }
  .home-card2 {
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-text14 {
    text-align: left;
  }
  .home-text18 {
    text-align: left;
  }
  .home-text21 {
    text-align: left;
  }
}
